<div id="id01" class="w3-modal">
  <div class="w3-modal-content  w3-card-4 w3-animate-zoom">
    <div class="w3-container">
      <span
        onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright"
        >&times;</span
      >
      <div
        *ngFor="let room of roomLists |async"
        (click)="changeRoom(room.pid)"
        class="w3-hover-grey"
      >
        <p class="w3-button">{{room.name}}</p>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding">
  <div class="w3-padding-large">
    <div class="w3-bar w3-light-grey w3-border w3-large">
      <a routerLink="/" class="w3-bar-item w3-button w3-mobile"
        ><i class="fa fa-home"></i> Home</a
      >
      <!-- <a href="#" class="w3-bar-item w3-button w3-mobile"
        ><i class="fa fa-search"></i> Search</a
      >
      <a href="#" class="w3-bar-item w3-button w3-mobile"
        ><i class="fa fa-envelope"></i> Message</a
      > -->
      <!-- <a href="#" class="w3-bar-item w3-button w3-mobile"
        ><i class="fa fa-globe"></i> I don't know</a
      > -->
      <a href="#" (click)="logout()" class="w3-bar-item w3-button w3-mobile"
        ><i class="fa fa-sign-in"></i> Logout</a
      >

      <!-- <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Hover Over Me!</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <div
            *ngFor="let room of roomLists |async"
            (click)="changeRoom(room.pid)"
            class="w3-bar-item w3-button"
          >
            {{room.name}}
          </div>
        </div>
      </div> -->
      <button
        onclick="document.getElementById('id01').style.display='block'"
        class="w3-bar-item w3-button w3-mobile"
      >
        <i class="fa fa-globe"></i>
        Rooms
      </button>
    </div>
  </div>
</div>
<div class="maxDiv">
  <div class="w3-row-padding">
    <div class="">
      <div class="w3-padding-large w3-mobile w3-container w3-quarter">
        <div class="w3-card-4">
          <header class="w3-container w3-blue">
            <h1>Chatter</h1>
          </header>

          <div class="w3-container maxInDiv">
            <ul>
              <!-- <li *ngFor="let chatter of onlineChatters | async">
                {{chatter.username}}
              </li> -->
              <li *ngFor="let chatter of (currentroom |async)?.users">
                {{chatter.username}}
              </li>
            </ul>
          </div>
          <footer class="w3-container w3-blue">
            <p>.</p>
          </footer>
        </div>
      </div>
      <div class="w3-padding-large w3-container w3-mobile w3-half">
        <div class="w3-card-4">
          <header class="w3-container w3-blue">
            <h1>World: {{(currentroom | async)?.name}}</h1>
          </header>

          <div class="w3-container maxInDiv">
            <img
              style="max-width: 100%;max-height:100%"
              [src]="apiUrl+(currentroom | async)?.background"
            />
          </div>
          <footer class="w3-container w3-blue">
            <p>.</p>
          </footer>
        </div>
      </div>

      <div class="w3-quarter w3-container w3-mobile w3-padding-large">
        <app-chathistory></app-chathistory>
      </div>
    </div>
  </div>
</div>
<div class="w3-row-padding w3-mobile">
  <div class="w3-padding-large">
    <div class="w3-bar w3-blue w3-border w3-large">
      ...
    </div>
  </div>
</div>
